<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Contentful Test</title>
  <meta name="description" content="">
  <meta name="Michael">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<link rel="stylesheet" href="/style.css"/>
</head>

<body class="container">